*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --bg-main: #546d57;
  --bg-main-rgb: 84 109 87;
  --bg-alt: #ecebe4;
}

body {
  background: var(--bg-main);
  background-image:
    linear-gradient(
      135deg,
      transparent 0% 48%,
      #0000000e 48% 50%,
      transparent 52%
    ),
    linear-gradient(
      45deg,
      transparent 0% 48%,
      #0000000e 48% 50%,
      transparent 52%
    );
  background-size: 50px 50px;
}

img {
  display: block;
  max-width: 100%;
}

html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
}

#root {
  max-width: none;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* sm (640px+) */
@media (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

/* md (768px+) */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* lg (1024px+) */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

/* xl (1280px+) */
@media (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* 2xl (1536px+) */
@media (min-width: 1536px) {
  .container {
    max-width: 1536px;
  }
}
