.books_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.img_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50vh;
  height: 50svh;
  height: 50dvh;
}

.img_container img {
  width: 100%;
  height: auto;
  max-width: 300px;
  max-height: 400px;
  margin-bottom: 1.5rem;
  border-radius: 1rem;
}
