.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background: var(--bg-alt);
}

.about_container h2 {
  font-size: 2rem;
  margin: 0;
  margin-top: 1rem;
}

.about_container h4 {
  text-align: center;
  font-size: 1.1rem;
  margin: 1rem;
  text-transform: uppercase;
}

.about_container p {
  font-size: 1.2rem;
  max-width: 38ch;
  text-align: justify;
}

.about_container img {
  margin: 0 auto;
  width: 100%;
  max-width: 38ch;
  height: auto;
  border-radius: 8px;
}

.about_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.about_card h6 {
  margin: 0;
  margin-top: -1rem;
  font-size: 1em;
  text-align: center;
}
