.about_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background: var(--bg-alt);
}

.about_container h2 {
  font-size: 2rem;
  margin: 0;
  margin-top: 1rem;
}

.about_container h4 {
  text-align: center;
  font-size: 1.2rem;
  margin: 0;
  text-transform: uppercase;
}

.about_container p {
  font-size: 1.2rem;
  max-width: 38ch;
  text-align: center;
}
